[Unit]
Description=Remotely control %I using barrier
Requires=barriers.service
After=barriers.service
After=network.target
After=gpg-agent-ssh.socket

[Service]
Environment=DISPLAY=:0
Type=forking
ExecStart=/usr/bin/ssh -f -R 24800:127.0.0.1:24800 %I "DISPLAY=:0 barrierc --no-daemon --no-restart --debug NOTE localhost:24800"
ExecStartPost=/usr/bin/bash -c '/usr/bin/notify-send -i synergy "Connected to %I" && /usr/bin/polybar-msg hook barrier 1'
ExecStopPost=/usr/bin/bash -c '/usr/bin/notify-send -i synergy "Disconnected from %I" && /usr/bin/polybar-msg hook barrier 2'

