[Unit]
Description=Clear trash older than %i days automatically

[Timer]
OnCalendar=daily
Persistent=true
Unit=trash-empty@%i.service

[Install]
WantedBy=timers.target
