[Unit]
Description=Clear trash older than %I days automatically

[Timer]
OnCalendar=daily
Persistent=true
Unit=trash-empty@%I.service

[Install]
WantedBy=timers.target
