#define $HOME /home/reeto

! ANSI Colours
#define BLACK #2F343F
#define WHITE #ABB2BF

#define RED #E06C75
#define LIGHTRED #BE5046

#define GREEN #98C379
#define LIGHTGREEN GREEN

#define YELLOW #E5C07B
#define LIGHTYELLOW #D19A66

#define BLUE #61AFEF
#define LIGHTBLUE BLUE

#define MAGENTA #C678DD
#define LIGHTMAGENTA MAGENTA

#define CYAN #56B6C2
#define LIGHTCYAN CYAN

#define GREY #3E4452
#define LIGHTGREY #5C6370

*.foreground:    WHITE
*.background:    BLACK
*.cursorColor:   WHITE
*.color0:        BLACK
*.color1:        RED
*.color2:        GREEN
*.color3:        YELLOW
*.color4:        BLUE
*.color5:        MAGENTA
*.color6:        CYAN
*.color7:        WHITE
*.color8:        GREY
*.color9:        LIGHTRED
*.color10:       LIGHTGREEN
*.color11:       LIGHTYELLOW
*.color12:       LIGHTBLUE
*.color13:       LIGHTMAGENTA
*.color14:       LIGHTCYAN
*.color15:       LIGHTGREY

! i3wm
i3wm.mod:        Mod4
i3wm.scripts:    $HOME/.config/i3/scripts
i3wm.wallpapers: $HOME/public/pictures/wallpapers/nature
i3wm.gaps:       30
i3wm.border:     3

! Misc
Xcursor.size:    24
