[Desktop Entry]
Name=Tmux
Comment=The terminal and session multiplexer
Exec=termite -e "tmux new-session -As reeto"
Icon=utilities-terminal
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupWMClass=termite
StartupNotify=true