[Unit]
Description=Save backlight before suspend
Before=sleep.target suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/backlight

[Install]
WantedBy=sleep.target suspend.target
