SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/bin/backlight battery"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/bin/backlight ac"

