[Desktop Entry]
Name=Tmux
Comment=The terminal and session multiplexer
Exec=tm
Icon=utilities-terminal
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupWMClass=Alacritty
StartupNotify=true
